{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112830695-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112830695-1');
      </script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="letsgo247">
    <meta name="keywords" content="​이름의 전당, Hall of Name, 밴드 이름 생성기, 밴드 이름 짓기 어플, 밴드 이름 짓기, 모임 이름 생성기, 모임 이름 짓기, 프로젝트 이름, 랜덤 이름 짓기, 랜덤 이름 생성기">
    <meta name="description" content="밴드 이름 생성기입니다. 방대한 데이터베이스로부터 랜덤으로 밴드 이름을 생성해주는 알고리즘을 통해, 상상을 뛰어넘는 밴드 이름 뿐만 아니라 음악적 영감과 흥미로운 자극을 제공합니다.">

    <title>Hall of Name(이름의 전당)</title>
    <link rel="shortcut icon" href="{% static 'bnm/img/favicon.png' %}">


    <!-- google adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6071711598190230",
        enable_page_level_ads: true
      });
    </script>




    <!-- Bootstrap core CSS -->
    <link href="{% static 'bnm/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="{% static 'bnm/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'bnm/vendor/devicons/css/devicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'bnm/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bnm/css/resume.css' %}" rel="stylesheet">

    <style media="screen">

        /*1번 시도*/
        /* Rating Star Widgets Style */
        .rating-stars ul {
          list-style-type:none;
          padding:0;

          -moz-user-select:none;
          -webkit-user-select:none;
        }
        .rating-stars ul > li.star {
          display:inline-block;

        }

        /* Idle State of the stars */
        .rating-stars ul > li.star > i.fa {
          font-size:1.5em; /* Change the size of the stars */
          color:#ccc; /* Color on idle state */
        }

        /* Hover state of the stars */
        .rating-stars ul > li.star.hover > i.fa {
          color:#ffd149;
          /*color:#FFCC36;          */
        }

        /* Selected state of the stars */
        .rating-stars ul > li.star.selected > i.fa {
          color:#ffb62a;
          /*color:#FF912C;*/
        }

    </style>


  </head>

    <body id="page-top">

        {# 네이게이션 바#}
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top" id="sideNav">

            <a class="navbar-brand js-scroll-trigger" href="..#bnm">
              <span class="d-block d-lg-none">Hall of Name(이름의 전당)</span>
              <span class="d-none d-lg-block">
                <p><h3 class="text-white">Hall of Name</h3></p>
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'bnm/img/randombox.png' %}" alt="">
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#bnm">Band Name Generator</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#hof">명예의 전당</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                  </li>
              </ul>
            </div>

        </nav>


    <div class="container-fluid p-0">

        {# 메인 페이지#}

        {% block content %}

        {% endblock %}





      {# 명예의 전당 페이지#}
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="hof">
        <div class="my-auto text-center">
            <h2 class="mb-5">명예의 <span class="text-warning">전당</span></h2>

            <div class="resume-content m-auto">
                <h1>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </h1>

                <br><br><h3 class="mb-0 text-muted">준비 중 입니다!</h3>
            </div>

        </div>
      </section>




      {# About 페이지#}
        <section class="resume-section p-3 p-md-5 d-flex d-column" id="about" style="
    padding-bottom: 40px!important;">
            <div class="my-auto">
                <h2 class="mb-5 text-center">소개 <span class="text-warning">About</span> </h2>

                <div class="my-5 py-3">
                    <h3>배경</h3>
                    <hr>
                    <p>밴드를 만들 때 가장 먼저 하는 일은 밴드 이름을 정하는 것입니다. '시작이 반'이라며 생생한 열정을 가지고 머리를 맞대보지만, 멤버 모두의 취향을 만족시키는 이름을 뽑아내는 것은 쉬운 일이 아니죠.</p>

                    <h1 class="text-center my-5"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></h1>

                    <p>저도 짧지 않은 시간 동안 여러 밴드를 해오면서 별의 별 방법을 다 써보았습니다.</p>

                    <p>밴드 이름 짓기의 고전이라 불리는 '지금 입고 있는 하의색깔과 마지막으로 먹은 음식 이름을 합치기'부터 시작해서 '각자 좋아하는 단어 모아서 조합해보기', '멤버들의 공통점 찾아보기', '좋아하는 책 64페이지 첫 형용사 + 71페이지 첫 명사 합치기' 등등, 단순한 브레인스토밍의 한계를 뛰어넘기 위한 묘수를 찾기 위해 몸부림을 쳤었더랬죠.</p>

                    <h1 class="text-center my-5"><i class="fa fa-id-badge" aria-hidden="true"></i></h1>

                    소위 '죽이는' 밴드 이름을 찾기 위해 수많은 창작의 고통을 겪으면서 '밴드 이름 짓는 어플이 있으면 참 좋겠다' 라는 생각을 하지 않을 수 없었고, 마침내 생활 개발자로서 이렇게 결과물을 내놓게 되었습니다.
                </div>

                <div class="my-5 py-3">
                    <h3>사용법</h3>
                    <hr>
                    <p>밴드의 멤버, 성향, 스타일 등에 대한 정보 없이 랜덤으로 생성되는 이름이기 때문에 당연히 완벽할 수는 없을 것이라고 생각합니다.</p>
                    <p>하지만 <u>100% 완벽한 밴드 이름을 얻어가진 못하더라도, 밴드 이름을 짓는 데에 도움이 될 만한 좋은 자극과 영감을 받아가는 도구가 되기를 희망합니다.</u></p>
                    <h1 class="text-center my-5"><i class="fa fa-bolt" aria-hidden="true"></i></h1>
                    <p>그리고 '밴드 이름 생성기'라고 이름을 붙여놓긴 했지만, 꼭 밴드가 아니어도 상관은 없다고 생각합니다. 어떤 모임이든 이름은 필요한 법이니까요.</p>
                    <p>사용하시면서 피드백이나 의견 있으시면 제 <a href="http://letsgo247.net/guest.html">홈페이지</a>나 <a href="mailto:letsgo247@hanmail.net">이메일</a>을 통해 글 남겨주시면 감사하겠습니다! (제 기술과 시간이 허락하는 한도 내에서) 개선이나 반영의 여지가 있으니 좋은 의견 많이 남겨주시기 바랍니다.</p>
                </div>

                <div class="mt-5 py-3">
                    <h3>부록: 밴드 이름 짓기 팁</h3>
                    <hr>
                    <p>마지막으로 밴드 이름을 짓는 데에 도움이 될 만한 몇 가지 팁을 공유하도록 할게요. (외국 사이트에 올라온 글을 간단하게 번역한 글입니다. <a href="https://www.bandnamemaker.com/tips" class="text-primary">출처</a>)</p>
                    <h1 class="text-center my-5"><i class="fa fa-bookmark" aria-hidden="true"></i></h1>

                    <ul>
                        <li>밴드 음악 스타일이 묻어나는 이름</li>
                        <li>사실 이름 자체보다는 좋은 음악과 즐기는 자세가 중요하다. 매 공연마다 이름을 바꾸는 밴드도 있다.</li>
                        <li>밴드 스타일을 너무 추종할 필요도 없지만, 밴드 스타일과 너무 상반되는 이름도 좋지 않다.</li>
                        <li>브레인스토밍을 해라. 밴드 멤버들로부터 감정, 느낌, 스타일에 관련된 다섯 단어 정도씩을 자유롭게 모은 뒤, 공통적으로 나타나는 단어를 골라 합쳐봐라. 멋진 이름이 만들어질 것이다.</li>
                        <li>밴드 곡 제목 중에 이름으로 바꿀만한 것이 없는가?</li>
                        <li>밴드 이름에 너무 스트레스 받지 마라. 대부분의 유명한 슈퍼 밴드들도 수차례 이름을 바꾸었다.</li>
                    </ul>

                    <h1 class="text-center my-5"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>
                    그렇다면, 피해야 할 밴드 이름은 무엇일까?

                    <ul>
                        <br>
                        <li>이미 존재하는 이름</li>
                        <li>너무 긴 이름</li>
                        <li>너무 어려운 이름</li>
                        <li>유명한 아티스트의 작품에서 따온 소재 이름. 2차 인용된 창작물이 새롭게 성공하는 것은 어렵다.</li>
                    </ul>
                    <hr>
                    <p>​P.S. 하지만 세상 모든일이 그렇듯, 예외는 존재하는 법이죠. Think less, Play more. 건투를 빕니다!</p>
                </div>

            </div>
        </section>

    </div>



    <footer>
      <div class="py-2" style="text-align:center; font-size:0.9em; color:gray; background-color:#f2f2f2">
        ⓒ <a href="http://letsgo247.net/contact.html" style="color:gray">LETSGO247</a>. All Rights Reserved
        <br>
        Powered by <a href="https://www.djangoproject.com/" style="color:gray">Django</a> & <a href="https://getbootstrap.com/" style="color:gray">Bootstrap</a>
        <br>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bnm/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bnm/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'bnm/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'bnm/js/resume.js' %}"></script>

    <script>
        $(document).ready(function(){

          /* 1. Visualizing things on Hover - See next part for action on click */
          $('#stars li').on('mouseover', function(){
            var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

            // Now highlight all the stars that's not after the current hovered star
            $(this).parent().children('li.star').each(function(e){
              if (e < onStar) {
                $(this).addClass('hover');
              }
              else {
                $(this).removeClass('hover');
              }
            });

          }).on('mouseout', function(){
            $(this).parent().children('li.star').each(function(e){
              $(this).removeClass('hover');
            });
          });


          /* 2. Action to perform on click */
          $('#stars li').on('click', function(){
            var onStar = parseInt($(this).data('value'), 10); // The star currently selected
            var stars = $(this).parent().children('li.star');

            for (i = 0; i < stars.length; i++) {
              $(stars[i]).removeClass('selected');
            }

            for (i = 0; i < onStar; i++) {
              $(stars[i]).addClass('selected');
            }

            // JUST RESPONSE (Not needed)
            var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
            var msg = "";
            if (ratingValue > 1) {
                msg = "Thanks! You rated this " + ratingValue + " stars.";
            }
            else {
                msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
            }
            responseMessage(msg);

          });


        });


        function responseMessage(msg) {
          $('.success-box').fadeIn(200);
          $('.success-box div.text-message').html("<span>" + msg + "</span>");
        }
    </script>


    </body>



</html>
