{% extends "bnm/base.html" %}
{% load staticfiles %}

{% block content %}
{# 메인 페이지#}
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="bnm">
    <div class="my-auto" style="text-align:center">

        <h2 class="m-3 p-3">Band name <span class="text-warning">Generator</span> </h2>

        <div class="card-deck m-3">

            <div class="card border-0 py-5">
              <img class="card-img-top" style="max-width:250px; margin:auto" src="{% static 'bnm/img/randombox.png' %}" alt="Card image cap">
            </div>

            <div class="card border-0 py-5">
              <img class="card-img-top" style="max-width:250px; margin:auto" src="{% static 'bnm/img/randombox.png' %}" alt="Card image cap">
            </div>

            <div class="card border-0 py-5">
              <img class="card-img-top" style="max-width:250px; margin:auto" src="{% static 'bnm/img/randombox.png' %}" alt="Card image cap">
            </div>
        </div>

        <a href="/generate"><button type="button" class="btn btn-warning btn-lg m-3">Generate!</button></a>

    </div>
</section>

{% endblock %}
